<!DOCTYPE html>
<html>
<head>
    <title>Shop Mỹ Phẩm</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" type="png" href="~/images/logo.png" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Scripts/simpleCart.min.js"></script>
    <!--API FB-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=317189338981044&autoLogAppEvents=1"></script>
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="search">
					<form>
						<input type="text" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="Go">
					</form>
				</div>
				<div class="header-left">
					<ul>
						<li><a href="@Url.Action("Dangnhap","TaiKhoan")">Đăng nhập</a></li>
						<li>@Html.Action("GiohangPartial", "Giohang")</li>

					</ul>

					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="container">
			<div class="head-top">
				<div class="logo">
                    <a href="@Url.Action("Index","TrangChu")"><img src="~/images/free_horizontal_on_white_by_logaster.png" alt=""></a>
				</div>
				<div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li class="active grid"><a class="color8" href="@Url.Action("Index","TrangChu")">Home</a></li>
                        <li>
                            <a class="color1" href="#">Danh mục</a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Sản Phẩm:</h4>
                                            <ul>
                                                <li>
                                                    @Html.Action("Danhmuc", "TrangSanPham")
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Gian Hàng:</h4>
                                            <ul>
                                                <li>
                                                    @Html.Action("Loai", "TrangSanPham")
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li><a class="color2" href="@Url.Action("Index", "GioiThieu")">Giới Thiệu</a></li>

                        <li><a class="color4" href="@Url.Action("Index", "Blog")">Blog</a></li>
                        <li><a class="color6" href="@Url.Action("LienHe", "TrangChu")">Liên Hệ</a></li>
                    </ul>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>

	</div>


	<!--content-->
	<!---->
	<div class="product">
		<div class="container">
			<div class="col-md-3 product-price">
				<div class="sellers">
					<div class="of-left-in">
						<h3 class="tag">Tags</h3>
					</div>
					<div class="tags">
						<ul>
							<li><a href="#">Nước Hoa</a></li>
							<li><a href="#">Son Dưỡng</a></li>
							<li><a href="#">Mặt Nạ</a></li>
							<li><a href="#">Kem Làm Đẹp</a></li>
							
							
						</ul>

					</div>

				</div>

			</div>
			<div class="col-md-9 product1">
				<div class=" bottom-product">
					<div>
						@RenderBody()

					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
			<div class="clearfix"> </div>
			<nav class="in">
				<ul class="pagination">
					<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					<li><a href="#">2 <span class="sr-only"></span></a></li>
					<li><a href="#">3 <span class="sr-only"></span></a></li>
					<li><a href="#">4 <span class="sr-only"></span></a></li>
					<li><a href="#">5 <span class="sr-only"></span></a></li>
					<li> <a href="#" aria-label="Next"><span aria-hidden="true">»</span> </a> </li>
				</ul>
			</nav>
		</div>

	</div>

	<!---->
	<!--//content-->
	<div class="footer">
		<div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>Thông tin thêm</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Cách đặt mua</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="@Url.Action("LienHe", "TrangChu")">Địa chỉ</a></li>
                        <li><a href="#">Vận chuyển</a></li>
                        <li><a href="@Url.Action("ThanhVien","TrangChu")">Thành viên</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>Liên hệ chúng tôi</h4>

                    <p>
                        Công ty TNHH Một thành viên HOMEBEAUTY
                    </p>

                    <p>17DTHC4</p>
                    <p>Office:  0393592609</p>
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                
                <div class="col-md-4 amet-sed">
                    <h4>Thông báo mới</h4>
                    <p>
                        Đăng ký để nhận
                        khuyến mãi và thông tin
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
		</div>
		<div class="footer-class">
			<p>© 2020 Hutech IT</p>
		</div>
	</div>
</body>
</html>
